*{
    --gap:1.25em;
    --padding-02:.2em;
    --padding-04:.4em;
    --padding-05:.5em;
    --padding-06:.6em;
    --padding-08:.8em;
    --padding-1:1em;
    --padding-1-2:1.2em;
    --padding-1-4:1.4em;
    --padding-1-5:1.5em;
    --padding-1-6:1.6em;
    --padding-1-8:1.8em;
    --padding-2:2em;
}