/* default btn */
.btn {
  padding: var(--padding-05) var(--padding-1);
  font-size: 1em;
  cursor: pointer;
  transition: box-shadow 0.1s ease-in;
  outline: none;
  border: 1px solid var(--color-light-6);
  background-color: var(--color-light);
  color: var(--color-light-text);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.btn:hover,
.btn:focus {
  box-shadow: var(--shadow-1);
  background-color: var(--color-light-3);
}
.btn:active {
  box-shadow: var(--shadow-none);
  background-color: var(--color-light-2);
}

.btn.sm {
  font-size: 0.75em;
}
.btn.md {
  font-size: 1em;
}
.btn.lg {
  font-size: 1.5em;
}

/* dark btn */
.btn.dark {
  border: 1px solid var(--color-dark-6);
  background-color: var(--color-dark);
  color: var(--color-dark-text);
}

.btn.dark:hover,
.btn.dark:focus {
  background-color: var(--color-dark-3);
}
.btn.dark:active {
  background-color: var(--color-dark-2);
}

/* primary btn */
.btn.primary {
  border: 1px solid var(--color-primary-6);
  background-color: var(--color-primary);
  color: var(--color-primary-text);
}
.btn.primary:hover,
.btn.primary:focus {
  background-color: var(--color-primary-3);
}
.btn.primary:active {
  background-color: var(--color-primary-2);
}

/* secondary btn */
.btn.secondary {
  border: 1px solid var(--color-secondary-6);
  background-color: var(--color-secondary);
  color: var(--color-secondary-text);
}

.btn.secondary:hover,
.btn.secondary:focus {
  background-color: var(--color-secondary-3);
}
.btn.secondary:active {
  background-color: var(--color-secondary-2);
}

/* success btn */
.btn.success {
  border: 1px solid var(--color-success-6);
  background-color: var(--color-success);
  color: var(--color-success-text);
}

.btn.success:hover,
.btn.success:focus {
  background-color: var(--color-success-3);
}
.btn.success:active {
  background-color: var(--color-success-2);
}

/* error btn */
.btn.error {
  border: 1px solid var(--color-error-6);
  background-color: var(--color-error);
  color: var(--color-error-text);
}

.btn.error:hover,
.btn.error:focus {
  background-color: var(--color-error-3);
}
.btn.error:active {
  background-color: var(--color-error-2);
}

/* warning btn */
.btn.warning {
  border: 1px solid var(--color-warning-6);
  background-color: var(--color-warning);
  color: var(--color-warning-text);
}

.btn.warning:hover,
.btn.warning:focus {
  background-color: var(--color-warning-3);
}
.btn.warning:active {
  background-color: var(--color-warning-2);
}

/* info btn */
.btn.info {
  border: 1px solid var(--color-info-6);
  background-color: var(--color-info);
  color: var(--color-info-text);
}

.btn.info:hover,
.btn.info:focus {
  background-color: var(--color-info-3);
}
.btn.info:active {
  background-color: var(--color-info-2);
}

/* invisible btn */
.btn.invisible {
  border: 1px solid var(--color-invisible-6);
  background-color: var(--color-invisible);
  color: var(--color-invisible-text);
}

.btn.invisible:hover,
.btn.invisible:focus {
  background-color: var(--color-invisible-3);
  box-shadow: var(--shadow-none);
}
.btn.invisible:active {
  background-color: var(--color-invisible-2);
  box-shadow: var(--shadow-none);
}

/* accent btn */
.btn.accent {
    border: 1px solid var(--color-accent-6);
    background-color: var(--color-accent);
    color: var(--color-accent-text);
  }
  
  .btn.accent:hover,
  .btn.accent:focus {
    background-color: var(--color-accent-3);
  }
  .btn.accent:active {
    background-color: var(--color-accent-2);
  }
  
