*{
  --accent-900: #003333;
  --accent-800: #006666;
  --accent-700: #009999;
  --accent-600: #00cccc;
  --accent-500: #00ffff;
  --accent-400: #32ffff;
  --accent-300: #66ffff;
  --accent-200: #99ffff;
  --accent-100: #ccffff;
}

/* background color */
.bg-accent-900{
  background-color: var(--accent-900);
}
.bg-accent-800{
  background-color: var(--accent-800);
}
.bg-accent-700{
  background-color: var(--accent-700);
}
.bg-accent-600{
  background-color: var(--accent-600);
}
.bg-accent-500{
  background-color: var(--accent-500);
}
.bg-accent-400{
  background-color: var(--accent-400);
}
.bg-accent-300{
  background-color: var(--accent-300);
}
.bg-accent-200{
  background-color: var(--accent-200);
}
.bg-accent-100{
  background-color: var(--accent-100);
}

/* text color */
.text-accent-900{
  color: var(--accent-900);
}
.text-accent-800{
  color: var(--accent-800);
}
.text-accent-700{
  color: var(--accent-700);
}
.text-accent-600{
  color: var(--accent-600);
}
.text-accent-500{
  color: var(--accent-500);
}
.text-accent-400{
  color: var(--accent-400);
}
.text-accent-300{
  color: var(--accent-300);
}
.text-accent-200{
  color: var(--accent-200);
}
.text-accent-100{
  color: var(--accent-100);
}