*{
  --gray-900: #040404;
  --gray-800: #212121;
  --gray-700: #3a3a3a;
  --gray-600: #555555;
  --gray-500: #727272;
  --gray-400: #909090;
  --gray-300: #afafaf;
  --gray-200: #cfcfcf;
  --gray-100: #f0f0f0;
}

/* background color */
.bg-gray-900{
  background-color: var(--gray-900);
}
.bg-gray-800{
  background-color: var(--gray-800);
}
.bg-gray-700{
  background-color: var(--gray-700);
}
.bg-gray-600{
  background-color: var(--gray-600);
}
.bg-gray-500{
  background-color: var(--gray-500);
}
.bg-gray-400{
  background-color: var(--gray-400);
}
.bg-gray-300{
  background-color: var(--gray-300);
}
.bg-gray-200{
  background-color: var(--gray-200);
}
.bg-gray-100{
  background-color: var(--gray-100);
}

/* text color */
.text-gray-900{
  color: var(--gray-900);
}
.text-gray-800{
  color: var(--gray-800);
}
.text-gray-700{
  color: var(--gray-700);
}
.text-gray-600{
  color: var(--gray-600);
}
.text-gray-500{
  color: var(--gray-500);
}
.text-gray-400{
  color: var(--gray-400);
}
.text-gray-300{
  color: var(--gray-300);
}
.text-gray-200{
  color: var(--gray-200);
}
.text-gray-100{
  color: var(--gray-100);
}