*{
  --blue-900: #0c2129;
  --blue-800: #194252;
  --blue-700: #26637b;
  --blue-600: #3384a4;
  --blue-500: #40a6ce;
  --blue-400: #66b7d7;
  --blue-300: #8cc9e1;
  --blue-200: #b2dbeb;
  --blue-100: #d8edf5;
}

/* background color */
.bg-blue-900{
  background-color: var(--blue-900);
}
.bg-blue-800{
  background-color: var(--blue-800);
}
.bg-blue-700{
  background-color: var(--blue-700);
}
.bg-blue-600{
  background-color: var(--blue-600);
}
.bg-blue-500{
  background-color: var(--blue-500);
}
.bg-blue-400{
  background-color: var(--blue-400);
}
.bg-blue-300{
  background-color: var(--blue-300);
}
.bg-blue-200{
  background-color: var(--blue-200);
}
.bg-blue-100{
  background-color: var(--blue-100);
}

/* text color */
.text-blue-900{
  color: var(--blue-900);
}
.text-blue-800{
  color: var(--blue-800);
}
.text-blue-700{
  color: var(--blue-700);
}
.text-blue-600{
  color: var(--blue-600);
}
.text-blue-500{
  color: var(--blue-500);
}
.text-blue-400{
  color: var(--blue-400);
}
.text-blue-300{
  color: var(--blue-300);
}
.text-blue-200{
  color: var(--blue-200);
}
.text-blue-100{
  color: var(--blue-100);
}