

.dp-header {
  display: grid;
  grid-template-columns: 10em 1fr;
  justify-items: center;
  align-items: center;
  max-height: 5em;
  height: 5em;
  background-color: var(--color-light-1);
  position: fixed;
  top: 0;
  width: 100vw;
}

.dp-main{
  background-color: var(--color-white);
  grid-template-columns: 20em 1fr;
  min-height: calc(100vh - 7em);
  gap: var(--padding-2);
}

nav.dp-contents {
  position: fixed;
  top: 7em;
  left: 0;
  background-color: var(--color-light-1);
  height: 100%;
  padding: var(--padding-1);
  min-width: 20em;
  max-width: 30em;
  overflow: hidden;
  overflow-y: scroll;
}
nav.dp-contents ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav.dp-contents ul:first-child > li {
  margin-bottom: var(--padding-1);
}
nav.dp-contents > ul {
  padding-left: var(--padding-1);
}
nav.dp-contents ul > li {
  padding-top: var(--padding-05);
  padding-bottom: var(--padding-05);
}
nav.dp-contents > ul > li > ul {
  padding-left: var(--padding-1);
}

section.dp-section {
  padding-left: 31em;
  padding-top: 7em;
  max-width: 60em;
}
