.btn-group,
.btn-group.row{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.btn-group.column{
    vertical-align: middle;
    flex-direction: column;
    align-items: stretch;
}

.btn-group .btm{
    width: 100%
}